/*-- scss:defaults --*/

main {
  text-align: justify;
}

hr.divider {
  display: block;
  width: 30%;
}

@media(min-width: 768px) {

  .figure img {
    width: 60%;
  }
}

@media(max-width: 767px) {
  
  .figure img {
    width: 80%;
  }  
}

.figure figcaption {
  text-align: center;
}

main a {
  text-decoration: none;
}